table {
    margin: 10px 0;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 13px;
    color: rgba(33, 33, 33, 1);
    border: 1px solid rgb(47,79,79);
}

table th {
    font-weight: normal;
    background-color: rgb(169,169,169);
    text-align: left;
    border: 1px solid rgb(47,79,79);
    padding: 3px 5px;
}

table tr:nth-of-type(2n) {
    background: rgb(220,220,220);
}

tr:hover, tr:nth-of-type(2n):hover {
    background-color: rgb(169,169,169);
}

table td {
    border: 1px solid rgb(47,79,79);
    padding: 3px 5px;
}